/* Base CSS - Contained in every page */

/* Background */
body {
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border: 2px solid rgb(43, 40, 82);
}

button {
    cursor: pointer;
    border: 1px solid rgba(58, 70, 93, 0.3);
    border-radius: 4px;
    background-color: rgba(69, 64, 89, 0.2);
    color: white;
    padding: 10px;
    transition: all 0.4s;
}

button:hover {
    background-color: rgba(69, 64, 89, 0.4);
    transform: scale(1.07);
}

label {
    color: white;
    height: fit-content;
}

input {
    background-color: #1a1a1a00;
    border: 1px solid rgba(54, 54, 54, 0.84);
    padding: 5px;
    color: white;
    border-radius: 4px;
}

/* Applies to the entire page */
html {
  scrollbar-width: thin;               /* For Firefox */
  scrollbar-color: #444 #1a1a1a;       /* thumb color | track color */
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;                 /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #444;              /* Scrollbar color */
  border-radius: 5px;
  border: 2px solid #1a1a1a;           /* Creates space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;              /* Hover effect */
}
