/* Base CSS - Contained in every page */

/* Background */
body {
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border: 2px solid rgb(43, 40, 82);
}

button {
    cursor: pointer;
}

label {
    color: white;
    height: fit-content;
}

input {
    background-color: #1a1a1a00;
    border: 1px solid rgba(54, 54, 54, 0.84);
    padding: 5px;
    color: white;
    border-radius: 4px;
}