/* Typography CSS */

@font-face {
    font-family: 'Josefin';
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
         url('../fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}