/* Tasks View - CSS */

/* Globals */
main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > #wrapper {
    height: 95%;
    width: 97%;
    overflow-x: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.139);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* Cards */
.card {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 24px;
    z-index: 3;
    backdrop-filter: blur(4px);
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.card.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.card h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.card .field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 4px;
    margin: 15px 0px;
}

.card .field label {
    color: white;
    margin-right: 40px;
}

.card button {
    margin-top: 10px;
    width: 90%;
}

.card #back-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: min-content;
}

/* Categories */
main > #wrapper #categories {
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
}

main > #wrapper #categories > div.item {
    width: 300px;
    height: 95%;
    margin: 10px;
    border: 1px solid green;
    background-color: rgba(240, 248, 255, 0.199);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Categories > Tasks */
main > #wrapper #categories > div.item > .info {
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px 0px;
    box-sizing: border-box;
    position: relative;
}

main > #wrapper #categories > div.item > .info > #title {
    color: white;
    text-align: center;
}

main > #wrapper #categories > div.item > .info > #new-task {
    width: 70%;
    height: 30px;
}

main > #wrapper #categories > div.item > .info > #option {
    width: 35px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
}

main > #wrapper #categories > div.item > .info > #option-menu {
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    top: 8px;
    left: 99%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
}

main > #wrapper #categories > div.item > .info > #option-menu.visible {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
}

main > #wrapper #categories > div.item > .container {
    padding: 10px;
    border: 1px solid rgb(49, 33, 120);
    width: 100%;
    height: max-content;
    box-sizing: border-box;
}

main > #wrapper #categories > div.item > .container > .item {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

main > #wrapper #categories > div.item > .container > .item > #title {
    color: white;
    padding-left: 15%;
    width: 100%;
    margin: 10px;
}

main > #wrapper #categories > div.item > .container > .item > #description {
    color: white;
    height: fit-content;
    margin: 10px;
}

main > #wrapper #categories > div.item > .container > .item > #complete {
    color: white;
    width: 90%;
}

main > #wrapper #categories > div.item > .container > .item > #option {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 22px;
}

main > #wrapper #categories > div.item > .container > .item > #option-menu {
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    top: 5px;
    left: 99%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

main > #wrapper #categories > div.item > .container > .item > #option-menu.visible {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

/* Buttons */
main > #wrapper #buttons {
    display: flex;
    height: fit-content;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(240, 248, 255, 0.199);
    padding: 10px;
    margin: 0px 46px;
}